.überschrift{
    color:rgb(233, 216, 180);
    font-size: 20pt;
    letter-spacing: -4px;
    top:180px;
    position: relative;
    
}

body{

    font-family: 'Arial';
    background: #bd8e5b;
    text-align: center;
}
.navi{

    display: inline-block;
    background-color: rgb(201, 104, 66);
    padding: 10px 13px 10px 10px;
    position: fixed;
    right: 100px;
    top: 250px;
    border-radius: 20px 20px 20px 20px;
    z-index: 999;

    

}