.überschrift{
    color:rgb(233, 216, 180);
    font-size: 20pt;
    letter-spacing: -2px;
    top:70px;
    position: relative;
    
}

body{

    font-family: 'Arial';
    background: #bd8e5b;
    text-align: center;
}
.navi{

    display: inline-block;
    background-color: rgb(233, 216, 180);
    padding: 10px 13px 10px 10px;
    position: fixed;
    right: 450px;
    top: 300px;
    border-radius: 20px 20px 20px 20px;
    z-index: 999;

    

}

.navi1{
    border-right: solid 1px rgb(105, 39, 39);
}

.navi2{
    border-right: solid 1px rgb(105, 39, 39);
}
.navi3{
    border-right: solid 1px rgb(105, 39, 39);
}
.navi4{
    border-right: solid 1px rgb(105, 39, 39);
}
.navi5{
    border-right: solid 1px rgb(105, 39, 39);
}
a:link, a:visited {
        text-decoration: none;
        color: rgb(187, 62, 12);
}
 a:hover {
    color: #771212;
 }

 a.active{
     color: #000000;
     text-decoration: underline;
 }


div a.activePage1{
     color: #000000;
     font-weight: bolder;
}

div a.activePage2{
    color:#bd8e5b;
    font-weight: bolder;
}