html, body{
    text-align: center;
    background-color: #f3c693;
    font-family: 'Arial';
    font-size: large;
}
h1{
    font-family: 'Arial';
    font-size: 40px;
    color: #ffffff;
    letter-spacing: normal;
    top: 30px;
    position: relative;
}


#delete{
    color: #9b9292 ;
    font-size:15px;
    cursor: pointer;
}




#eingabe{
    width: 550px;
}



#newAdd{
    size: 400px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
}