body{
    background-image: url("bg.png");
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    
}
h1{
    font-size: 150px;
    letter-spacing: -17px;
    position: relative;
    bottom: 480px;
}


.navi{
    display: inline-block;
    background-color: rgb(201, 104, 66);
    padding: 5px 8px 5px 5px;
    position: fixed;
    right: 25px;
    top: 0;
    border-radius: 10px 10px 10px 10px;
    z-index: 999;
}
.navi1{
    border-right: solid 1px rgb(105, 39, 39);
}

.navi2{
    border-right: solid 1px rgb(105, 39, 39);
}

a:link, a:visited {
        text-decoration: none;
        color: rgb(236, 219, 200);
}
 a:hover {
    color: #771212;
 }

 a.active{
     color: #000000;
     text-decoration: underline;
 }


div a.activePage1{
     color: #000000;
     font-weight: bolder;
}

div a.activePage2{
    color:#bd8e5b;
    font-weight: bolder;
}

.social{
    position: absolute;
    top: 290px;
    margin-left: 30%;
    z-index: 9999;
}

.social:hover{
    opacity: 2.0;
}

.lorem {
    letter-spacing: -4px;
    margin: auto;
    width: 30%;
    border: 3px;
    padding: 10px;
    font-size: 23px;
    text-align: left;
    position: relative;
    bottom: 650px;
    left: 210px;
    text-align:left;
}

.text{
    margin: auto;
    width: 30%;
    border: 3px;
    padding: 10px;
    font-size: 13px;
    text-align:left;
    position: relative;
    bottom: 680px;
    left: 60px;
    text-align:left;
}

.text1{
    margin: auto;
    width: 30%;
    border: 3px;
    padding: 10px;
    font-size: 13px;
    text-align:left;
    position:relative;
    bottom: 715px;
    left: 35px;
    text-align:left;
}

.überschrift1{
    color: #bd9b35;
    font-size: 20px;
    position: relative;
    bottom: -20px;
    right: 360px;
    
}

.überschrift2{
    color: #bd9b35;
    font-size: 20px;
    position: relative;
    bottom: -20px;
    margin-left: -732px;
    
}

.überschrift3{
    color: #bd9b35;
    font-size: 20px;
    position: relative;
    bottom: -20px;
    margin-left: -740px;
    margin-right: -22px;
    
}

.überschrift4{
    color: #bd9b35;
    font-size: 20px;
    position: relative;
    bottom: -20px;
    margin-left: -678px;
    margin-right: -50px;
    
}

.überschrift5{
    color: #bd9b35;
    font-size: 20px;
    position: relative;
    bottom: -20px;
    margin-left: -718px;
    margin-right: -60px;
    
}


.foto{
    color: #ffc71e;
    font-size: 20px;
    position: relative;
    bottom: 480px;
    right: 306px;
}

.foto1 {
    position: relative;
    bottom: 470px;
}

.circle{
    position: static;
    display: block;
    margin: -35px auto;
    width: 700px;
}

.kontakt{
    color: #bd9b35;
    font-size: 20px;
    position: relative;
    bottom: 550px;
    right: 300px;
}

.activePage1{
    border-right: solid 1px rgb(105, 39, 39);
}

.Kontakt{
    color: #d88b17;
    font-weight: bolder;
    font-size:15pt
    position:relative;
    right:180px;
    margin-top: 240px;
    margin-left: -600px;

}

.formular{
    background: rgb(236, 212, 160);
    font-size: 9pt;
    color:#d88b17;
    width: 200px;
    padding: 5px 5px 5px 5px;
    margin-left: -150px;
    text-align: left;
}

.formular2{
    background: rgb(236, 212, 160);
    font-size: 9pt;
    color:#d88b17;
    width: 220px;
    padding: 5px 5px 5px 150px;
    margin-left: -150px;
    text-align:left;
}

.Datenschutz{
    font-size: 9pt;
    color: #d88b17;
    position: relative;
    left: -150px;
}

.absenden{
    font-size: 9pt;
    color: #d88b17;
    background: rgb(236, 212, 160);
    width: 55px;
    padding: 5px 5px 5px 5px;
    margin-left: -150px;
}

.fotoich{
    margin-top: 160px;
    margin-left: -140px;
}

main{
    width: 800px;
    margin: auto
    center 
}