body{
    text-align: center;
}

button {

background-color:#ac61e9;
padding: 150px 150px;
cursor:pointer;

}
button:hover {

    background-color:#ebe189;
}



#play{
    
    background-color:#86f8d2;
    cursor: pointer;
    
}
#play:hover {
    
    background-color:#86cef8;
}

#b1{
        position: absolute;
        top: 15px;
        left: 60px;
}
#b2{
        position: absolute;
        top: 15px;
        left: 370px;
}
#b3{
        position: absolute;
        top: 15px;
        left: 680px;
}
#b4{
        position: absolute;
        top: 325px;
        left: 60px;
}
#b5{
        position: absolute;
        top: 325px;
        left: 370px;
    
}
#b6{
        position: absolute;
        top: 325px;
        left: 680px;
}
#b7{
        position: absolute;
        top: 635px;
        left: 60px;
}
#b8{
        position: absolute;
        top: 635px;
        left: 370px;
}
#b9{
        position: absolute;
        top: 635px;
        left: 680px;
}

#play{
    position: absolute;
    top: 980px;
    left: 445px;

}

